
.grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        width: 100%;
        margin-right: 15rem;
        margin-top: 4rem;
        border-radius: 5pex;
        }

form {
    color:black;
    font-size: 20px;
  
}

form input {
    width: 350px;
    display: block;
    height: 20px;
    text-align: center;
    
}
